<!doctype html>
<html>
  <head>
    <title>House Price Predictor</title>
  </head>
  <body>
    <h2>House Price Prediction</h2>

    <form method="POST">
      <input name="OverallQual" placeholder="Overall Quality" required /><br />
      <input name="GrLivArea" placeholder="Ground Living Area" required /><br />
      <input name="TotalBsmtSF" placeholder="Basement Area" required /><br />
      <input name="GarageCars" placeholder="Garage Cars" required /><br />
      <input name="FullBath" placeholder="Full Bathrooms" required /><br />
      <input name="YearBuilt" placeholder="Year Built" required /><br /><br />

      <button type="submit">Predict</button>
    </form>

    {% if prediction %}
    <h3>Predicted Price: ${{ prediction }}</h3>
    {% endif %}
  </body>
</html>
